body{
    background-color: #cdcee4;
    
}

nav{
    background-color: #577fb4;
    width: auto;
    padding: 0% 3% 0% 3%;
    text-decoration:none;
    font:bold 160% Arial sans-serif;
    text-transform:uppercase;
    
}

nav li{
    display: inline;
    background-color: #2161b4;
    margin: 0% 1% 0% 1%;
    padding: 0% 1% 0%;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 128, 0.9);
}

a{
    color: black;
    text-decoration: none;
}

.formulaire{
    background-color: #879fa7;
    border-radius: 10px;
    padding: 0% 1% 1% 1%;
}
.option{
    background-color: #5c6d8f;
    border-radius: 10px;
    padding: 0% 1% 0% 1%;
    font-size: 150%;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 128, 0.9);
}

button {
    background-color: rgb(61, 107, 61);
    margin: 1%;
    border-radius: 5px;
    font-size: 150%;
    
}
