body{
    background-color: #D5D0C4;
    
}

nav{
    background-color: #9CA5B1;
    font-size: 200%;
    width: auto;
    padding: 0% 3% 0% 3%;
    text-decoration:none;
    font:bold 160% Arial sans-serif;
    text-transform:uppercase;
    
}

nav li{
    display: inline;
    border: 1px solid;
    
    margin: 0% 1% 0% 1%;
    padding: 0% 1% 0%;
}

a{
    color: black;
    text-decoration: none;
}

.formulaire{
    background-color: #3D5E6B;
    border-radius: 10px;
    padding: 1%;
}
.option{
    background-color: rgb(44, 61, 95);
    border-radius: 10px;
    padding: 0% 1% 0% 1%;

}

button {
    background-color: green;
    padding: 1%;
}
